body{
  background:#ebe1e1;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  gap: 20px;
  padding: 40px;
}

.movie-wrapper > div{
  background: #1c1c1c;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.movie-wrapper > div:hover{
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0,0,0,0.7);
}

.card{
    margin-top: 10px;
  width: 100%;
  height: 300px;
  object-fit: contain;
}


.movie-wrapper h3{
  color: #fff;
  font-size: 16px;
  margin: 10px;
}

.movie-wrapper p{
  color: #bbb;
  font-size: 13px;
  margin: 0 10px 10px;
  height: 40px;
  overflow: hidden;
}

.rating{
  background: #000;
  color: gold;
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  margin: 0 10px 12px;
  font-size: 13px;
}

.star{
  margin-right: 4px;
}
