.slider-container {
  width: 95%;
  height: 450px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px 10px rgba(0, 0, 0, 0.19);
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 32px;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}
