*{
    padding: 0%;
    margin: 0;
   
}
.navbar{
    top: 0;
    left: 0;
    display: flex;
    background-color:rgba(0, 0, 0, 0.82);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    backdrop-filter: blur(12px);
    z-index: 1000;
   

}

h2{
    color: whitesmoke;
    margin: 25px;
    cursor: pointer;
}

.logospot{
    color: rgb(195, 43, 226);
}

.nav{
    display: flex;
    color: whitesmoke;
    font-size: 1rem;
    list-style-type: none;  
    margin: 25px;
    padding: 0 20 0 20;
        
}

.list{
    padding: 0 30px 0 30px;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 100px;
    
}

a:hover{

    color: black;   
    background-color:rgb(195, 43, 226) ;
    
}
